name: Playwright Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '16'  # Adjust as needed

    - name: Clear npm cache
      run: npm cache clean --force

    - name: Install dependencies
      run: npm ci --legacy-peer-deps

    - name: Install playwright browsers
      run: npx playwright install --with-deps
    - uses: microsoft/playwright-github-action@v1
    - name: run CodeceptJS tests
      uses: actions/setup-node@v3  
    - name: Run Copecept tests
      run: npm run codeceptjs
    

